# Compilação C
*.o
geo_engine
geo_engine.exe

# Compilação Java
*.class
Java/out/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
